<div class="d-flex container row">

    <div class="d-flex p-2">
        <label for="monthCount" class="col-md-10 text-end p-2">Number of Months:</label>
        <input type="number" id="monthCount" name="monthCount" min="1" max="12" class="form-control">
    </div>

    <div class="d-flex">
        <label for="monthCount" class="col-md-10 text-end p-2">Starting month:</label>
        <app-month-input></app-month-input>
    </div>

    <div class="d-flex justify-content-end p-2">
        <button class="btn btn-primary align-items-end" (click)="downloadPdf()">Download bullet journal</button>
    </div>

</div>