<select class="months" name="months">
    <option  value="1">{{listMonth[0].name}}</option>
    <option  value="2">{{listMonth[1].name}}</option>
    <option  value="3">{{listMonth[2].name}}</option>
    <option  value="4">{{listMonth[3].name}}</option>
    <option  value="5">{{listMonth[4].name}}</option>
    <option  value="6">{{listMonth[5].name}}</option>
    <option  value="7">{{listMonth[6].name}}</option>
    <option  value="8">{{listMonth[7].name}}</option>
    <option  value="9">{{listMonth[8].name}}</option>
    <option  value="10">{{listMonth[9].name}}</option>
    <option  value="11">{{listMonth[10].name}}</option>
    <option  value="12">{{listMonth[11].name}}</option>
</select>
